@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@theme {
    --font-display: "Inter Variable";
    --font-lato: "LAto";
  }
/* inter-latin-wght-normal */
@font-face {
    font-family: 'Inter Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }


  /* inter-latin-wght-normal */
@font-face {
    font-family: 'Inter Variable';
    font-style: italic;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-italic.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }

  /* lato-latin-900-italic */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/lato@latest/latin-900-italic.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/lato@latest/latin-900-italic.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}


@theme {
  --color-blueRemax: #003DA4;
  --color-redRemax: #DB1C2E;
}
.mapboxgl-popup-content {
  background-color: #ffffff00 !important; /* gris oscuro */
  border-radius: 0 !important;        /* bordes grandes */
  padding: 0.5rem !important;
  box-shadow: none !important;
  border: 0px !important;  /* borde color verde tailwind */
}

.mapboxgl-popup-close-button {
  background-color: #10b981 !important; /* verde tailwind */
  color: white !important;
  border: none !important;
  border-radius: 9999px !important; /* redondo */
  font-size: 16px !important;
  width: 28px !important;
  height: 28px !important;
  top: 8px !important;
  right: 8px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapboxgl-popup-close-button:hover {
  background-color: #059669 !important; /* verde más oscuro al pasar el mouse */
}